
body{
    font:20px arial,sans-serif ;
}

.navbar{
    background-color: #298A08;
}

.quem-somos{
    background-color:rgb(32, 136, 197) ;
    color: white;

}



.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color:rgb(18, 80, 151) ;
    color: white;
}

.servicos{
    background-color: rgb(38, 38, 182);
    color: white
    
}

.bg-footer{
    background-color: black;
    color: blanchedalmond;
}